
body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}

.container-xl form {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);


}

.title h1 {

    margin: 3 0 0 1;
   
}

.form-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 1000px;
	margin: -20px -11px 10px ;
	border-radius: 3px 3px 0 0;
}
.form-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}

.mb-3 
{
    padding-left: 18%;
    padding-top: 4%;
}
.mb-3 label { display: inline-block; }
.mb-3 select { 
	
display: block ;
width: 102%;
height: 70%;
border-color:#DED9D8;
border-radius: 2px;
}

.btn-groupe .mb-3 .btn {
	color: #fff;
;
	font-size: 18px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	
}
.btn-groupe .mb-3 .btn-primary
{
    background-color: steelblue;
}
.btn-groupe .mb-3 .btn-warning
{
   margin-left: -40px;
}
